main {
  /* margin: 16px; */
  padding: 16px;
  /* border: 2px solid #ccc; */
  /* border-radius: 8px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 495px) {
  main {
    justify-content: center;
  }
}
