.App {
  height: 100vh;
}

main {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 495px) {
  main {
    justify-content: center;
  }
}
